<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CompressMe</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">CompressMe</a>
      <a class="btn btn-primary" href="#">View Files</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Submit URL to get light version</h1>
		    <input type="text" class="form-control" id="url" aria-describedby="basic-addon1"/><br>
			<button id="compressMe" class="btn btn-primary btn-lg btn-block" href="#">Compress Me!</button>
        </div>

      </div>
    </div>
  </header>


<p id="result"></p>


  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
  function show_download_button() {
      //stuff
  }
  function show_error() {
      //stuff
  }
  $("#compressMe").click(function(){
  	$.ajax({
		type: 'POST',
		url: 'files',
		data: {"url": $("#url").val()}
	})
	.done(function(data) {
        if (data.success) {
            show_download_button(data.file_url)
        } else {
            show_error()
        }
	});
    });
$("#downloadMe").click(function(){
  $.ajax({
      type: 'POST',
      url: 'files',
      data: {"txturl": $("#url").val()}
  })
  .done(function(data) {
      html
  });
});


  </script>

</body>

</html>
